#testimonial{

    height: 50vh;
    background-color: azure;
}


.self-test{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.self-comment{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    height: 300px;
    border: 1px solid black;
    width: 25%;
}