#about{
    margin-top: 5.5%;
    height: 80vh;
    background-color: rgb(211, 238, 228);
}

.abImg{
    height: 150px;
    width: 100%;
}
.abImg img{
    height: 150px;
    width: 100%;
}
.abCon{
    height: 250px;
    width: 100%;
}

.abCon h6{
    margin-top: 10px;
}
.self-comment1{

    float: left;
    margin: 5px;
    height: 400px;
    border: 1px solid black;
    width: 25%;
}

.self-h1{
    margin-bottom: 20px;
}